env/
.vscode/
# *.env
__pycache__/
*sqlite3
*sqlite
*.sql
*.cnf
Pipfile.lock
temp/
db/

# Ignore file/folders of tests
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
*.pytest_cache


# Ignore Migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py