[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
psycopg2-binary = "*"
requests = "*"
objects = "*"

[dev-packages]

[requires]
python_version = "3.8"
