Django== 3.1.4
Markdown==    3.3.3
asgiref==  3.3.1
importlib-metadata==    3.3.0
pip==    20.3.3
pytz==    2020.4
setuptools==    51.0.0
sqlparse==    0.4.1
typing-extensions==    3.7.4.3
zipp==3.4.0
django-widget-tweaks==1.4.1
dj-database-url==0.4.2
python-decouple==3.1
django-widgets-improved ==1.5.0
MarkupPy	==1.14
PyYAML ==	5.3.1
asgiref	== 3.3.1
defusedxml	==0.6.0
diff-match-patch	== 20200713
django-braces ==	1.14.0
django-crispy-forms	 == 1.10.0
django-filter	== 2.4.0
django-import-export ==	2.4.0
PyJWT==1.7.1
psycopg2-binary==2.8.6
pip==    20.3.3
setuptools==    51.0.0
djangorestframework==    3.12.2
django-rest-auth == 0.9.5
django-allauth ==  	0.44.0
django-nested-admin	== 3.3.3
pandas == 1.2.0